* {
  margin: 0;
  padding: 0;
  box-sizing: border-box!important;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: 楷体!important;
}


:root {
  --bear-color-0: rgb(255, 255, 0);
  --bear-color-1: rgb(200, 200, 200);
  --bear-color-2: #ffeb3b;
  --bear-color-3: #ffb7da;
  --bear-color-4: #00F5FF;
  --bear-color-5: #EE3B3B;
}
html, body, #app {
  font-size: 62.5%;
}

body::-webkit-scrollbar{ 
//先改变body的滚动条宽度
width: 5px;
}

body::-webkit-scrollbar-track{
//再改变body的滚动条轨道颜色
background: var(--bear-color-1);
border-radius: 5px;
}
body::-webkit-scrollbar-thumb{
  //最后改变body的滚动条滑轨相关的样式
background: var(--bear-color-0);
border-radius: 5px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// 1px
.one-line {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #dee5e7;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}



.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
